<div class="main">
    <div class="head">
        <h3>REALME PRODUCTS</h3>
    </div>
    <div class="tab">
        <table border="2px" width="70%">
            <tr>
                <th>Prod_id</th>
                <th>Prod_Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Image</th>
            </tr>
            <tr *ngFor="let data of rp">
                <td>{{data.r_id}}</td>
                <td>{{data.r_name}}</td>
                <td>{{data.r_price}}</td>
                <td>{{data.r_color}}</td>
                <td> <img [src]='data.img' width="150px" height="150px"> </td>

            </tr>
        </table>
    </div>
</div>