/* .main
{
    background-color: rgb(10, 158, 109);
    background-image: url(src/assets/bgimage/phones-shopping-trolley);
} */
.head
{
    /* color: darkred; */
    text-align: center;
    height: 120px;
    padding-top: 20px;
}
tr,th, td
{
    text-align: center;
    padding: 10px;
    font-style: bold;
    font-size: large;
    color: rgb(8, 7, 8);
}
table
{
    border: 1.5px black solid;

}
.cell
{
    align-items: center;
    padding-left: 150px;
    padding-bottom: 50px;
}
/* .shp
{
    color: rgb(225, 164, 66);
    text-align: center;
    height: 120px;
} */
