<div class="main">
    <div class="head">
        <h1 class="shp"> WELCOME TO MOBILE HUB </h1>
    </div>
    <br><br>
    <div class="cell1">
        <button class="b1">
            <a routerLink="/shopping/samsung">SAMSUNG</a>
        </button> 
        <button class="b1">
            <a routerLink="/shopping/apple">APPLE</a>
        </button> 
        <button class="b1">
            <a routerLink="/shopping/vivo">VIVO</a>
        </button>   
        <button class="b1">
            <a routerLink="/shopping/realme">REALME</a>
        </button>
    </div>
</div>